// VARIABLES
$white: #fff;
$body-bg-color: #4350f3;
$subnav-bg-color: #fff;
$header-nav-bg-color:#323bb0;
$display-inline-block: inline-block;
$font-twenty: 17px;
$width-nav-li: 20%;
$vertical-align-top: top;
$text-center: center;
$text-uppercase: uppercase;
$cursorpointer: pointer;
$padding-ten: 10px;
$margin-right-fiv: 5px;
$font-fiften: 15px;
$justify-content-left: left;
$position-absolute: absolute;
$width-thitry-per: 46%;
$display-none: none;
$top-seventy: 70px;
$margin-top-ten: 15px;
$list-style-none: none;
$font-fiften-ten: 10px;